.borderYBtn {
  color: white;
  text-decoration: none;
  border: none;
  background: none;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  position: relative;
  overflow: hidden;
  padding: 8px 12px;
}

.borderContent {
  display: flex;
  align-items: center;
  gap: 8px;
}

.borderYBtn::before,
.borderYBtn::after {
  content: "";
  position: absolute;
  height: 2px;
  background: white;
  width: 0%; /* Initial state, no border */
  transition: width 0.5s ease; /* Smooth expansion */
}

.borderYBtn::before {
  top: 0; /* Position at top */
  left: 0; /* Start expanding from left to right */
}

.borderYBtn::after {
  bottom: 0; /* Position at bottom */
  right: 0; /* Start expanding from right to left */
}

.borderYBtn:hover::before {
  width: 100%; /* Expand to full width from left to right */
}

.borderYBtn:hover::after {
  width: 100%; /* Expand to full width from right to left */
}
